In [1]:
import pandas as pd

In [12]:
data1 = pd.read_excel('a1.xlsx')

In [13]:
data1.head(1)

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment
0,40098,CA-2014-AB10015140-41954,2014-11-11,2014-11-13,First Class,AB-100151402,Aaron Bergman,Consumer

In [14]:
data2 = pd.read_excel('a2.xlsx')

In [15]:
data2.head(1)

,Row ID,Postal Code,City,State,Country,Region,Market,Product ID,Category
0,40098,73120.0,Oklahoma City,Oklahoma,United States,Central US,USCA,TEC-PH-5816,Technology

In [16]:
data3 = pd.read_excel('a3.xlsx')

In [17]:
data3.head(1)

   Row ID    Sales  Quantity  Discount  Profit  Shipping Cost Order Priority
0   40098  $221.98         2       0.0  $62.15          40.77           High

In [33]:
data4=pd.merge(data1,data2,how='inner',on='Row ID')

In [34]:
data4.head(1)

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Postal Code,City,State,Country,Region,Market,Product ID,Category
0,40098,CA-2014-AB10015140-41954,2014-11-11,2014-11-13,First Class,AB-100151402,Aaron Bergman,Consumer,73120.0,Oklahoma City,Oklahoma,United States,Central US,USCA,TEC-PH-5816,Technology

In [35]:
data5=pd.merge(data4,data3,how='outer',on='Row ID')

In [36]:
data5.head(1)

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Postal Code,City,...,Region,Market,Product ID,Category,Sales,Quantity,Discount,Profit,Shipping Cost,Order Priority
0,40098,CA-2014-AB10015140-41954,2014-11-11,2014-11-13,First Class,AB-100151402,Aaron Bergman,Consumer,73120.0,Oklahoma City,...,Central US,USCA,TEC-PH-5816,Technology,$221.98,2,0.0,$62.15,40.77,High